<configuration>

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level | %msg%xException%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDERR" />
    </root>
</configuration>
